body{
    background-color: rgb(246, 242, 242) !important;
}

.contact-image{
    width: 200px !important;
    height: 200px !important;
    border-radius: 50% !important;
}
.modal-content{
    width: 300px !important;
    height: 200px !important;
}
.modal-dialog{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    top: 30% !important;
}
.modal-box{
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-evenly !important;
    align-items: center !important;
    height: 100% !important;
}